<div class="my-tab-container">
  <div class="my-info-box">
    This is a custom functionality plugin
  </div>

  <div class="my-info-box">
    <p>Saved Data:</p>
    <pre>
      {{ function('get_option', 'testrun_slideshow_answers')|json_encode(constant('JSON_PRETTY_PRINT')) }}
    </pre>
  </div>
</div>
